<div class="contacts-display">
  <p><span>First Name:</span> <%= @contact.first_name %> | <span>Last Name:</span> <%= @contact.last_name %></p>
  <p><span>Email Address:</span> <%= @contact.email %></p>
  <p><span>Note:</span> <%= @contact.note %></p>
  <p class="align-right"><a href='/'>Back to Main Page</a></p>
</div>
